
html,body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  position: relative;
  background-color: #FBE8DE;
}


/* First Section */

.background {
  height: 344px;
  background-color: #e1e1e1;
  width: 90%;
  margin-top: 40px;
  margin-left: 105px;
  margin-right: 15px;
  position: relative;
}

.landing__page{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75vh;
}

.para{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.para1,.para2{
  margin: 60px 0;
}

.para1 {
  font-family: 'Mynerve', cursive;
  font-size: 80px;
  font-weight: 200;
  z-index: 0;
}

.para2 {
  font-family: 'Mynerve', cursive;
  font-size: 60px;
}

.main__logo{
  display: flex;
  height: 300px;
  justify-content:center;
  align-items: center;
}

.header__img {
  position: relative;
  max-height: 90px;
  max-width: 350px;
}

.hero__sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.logreg__buttons {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.button2,
.button1 {
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  background-color: #000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  font-family: Grifter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  display: flex;
  box-shadow: 6px 6px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.guaranteed {
  font-family: 'Plus jakarta sans';
}

.main__images{
  position: absolute;
  height: 500px;
  width: 400px;
  z-index: -999;
}
.right__img{
  float: right;
  right: 0;
}
.left__img{
  float: left;
}
.button {
  position: relative;
  overflow: hidden;
}

.button:hover {
  transform: translateY(-6px);
  box-shadow: 8px 8px rgba(0, 0, 0, .2);
}

@media (max-width:800px){
  .main__images{
    max-height: 400px;
    max-width: 300px;
  }
  .para1{
    font-size: 60px;
    -webkit-text-stroke: 1px #FBE8DE;
  }
  .para2{
    font-size: 40px;
    -webkit-text-stroke: 1px #FBE8DE;
  }
}

@media (max-width:600px){
  .main__images{
    max-height:250px;
    max-width: 150px;
  }
  .search__drop{
    margin-top: 125px;
  }
}

/*Stories*/



.hero__stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 420px;
  margin-top: 20px;
}

.cont__blog{
  margin-top: 20px;
  display: flex;
  margin: 0 auto;
  overflow-x: none;
  place-items: center;
}
.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  height: 300px;
  margin: 0 25px;
  transition: 1s;
  border: 5px solid #FBE8DE;
}
.stories img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  
}

.stories p {
  display: none;
  transition: 1s;
  position: absolute;
}

.stories h5 {
    font-size: 18px;
    color: #666;
    font-weight: 500;
}

.stories img {
  height: 200px;
  width: 100%;
  aspect-ratio: 2/5;
}

.stories:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

@media (max-width:1400px){
  .cont__blog{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    place-items: center;
  }

  .hero__stories{
    height: 900px;
  }
}

@media (max-width:810px){
  .cont__blog{
    display: grid;
    grid-template-columns: 5fr 5fr;
    place-items: center;
  }

  .hero__stories{
    height: 1050px;
  }
}

@media (max-width:600px){
  .cont__blog{
    display: grid;
    grid-template-columns: 5fr;
    place-items: center;
  }

  .hero__stories{
    height: 1750px;
  }
}

/*Drop down + search*/

.search__drop {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.search__container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
  z-index: 0;
  width: 50%;
}

.search-bar {
  max-width: 100%;
  margin: 0 auto;
  /* rgba(255, 255, 255, 0.2); */
  background: transparent;
  display: flex;
  justify-content: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
  border-style: solid;
  border-color: black;
}

.search-bar input {
  background: transparent;
  border: 0;
  z-index: 2;
  outline: none;
  width: 100%;
  font-size: 20px;
  color: black;
}

@media (max-width:415px){
  .search-bar input{
    font-size: 15px;
  }
}

::placeholder {
  color: black;
}

.search-bar button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #cac7ff;
  color: #000;
  cursor: pointer;
  z-index: 1;
}



.dropdown {
  position: relative;
  display: inline-block;
  /* float: left;
  overflow: hidden;
  z-index: 1;*/
}

.btn-5{
  background-color: #262626;
  color: white;
  padding: 8px;
  font-family: 'Oswald';
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #545454;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0 auto;
  /* Important for vertical align on mobile phones */
}

@media (max-width:600px){
  .dropdown {
    font-size: 16px;
  }
}


/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: lightgray;
}

.whatsnew:hover {
  color: #fd6700;
  letter-spacing: .1em;
}

.whatsnew span {
  position: absolute;
  display: block;
  background: #fd7700;
}

.whatsnew span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.whatsnew:hover span:nth-child(1) {
  transform: scaleX(1);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Scroll Section */



.scroller {
  height: 150px;
  width: 100%;
  background-color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  place-items: center;
  overflow: hidden;
}

@media (max-width:600px){
  .slide{
    width: 150px;
    height: 50px;
  }
  .slide__track{
    width: calc(150px * 10);
  }
}

.slide__track {
  display: flex;
  width: calc(300px * 10);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-300px * 5));
  }
}


.slide {
  height: 80px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 25px;
  perspective: 100px;
}

.slide img {
  width: 100%;
  transition: transform 1s;
}

.slide img:hover {
  transform: translateZ(10px);
}





/* Item layout */



.flex-item {
  position: relative;
  display: inline-block;
}

.flex-item img{
  margin-left: 50px;
  align-items: center;
  mix-blend-mode: multiply;
  display: flex;
  width: 60%;
  height: 50%;
  justify-content: center;
  margin-top: 20px;
}

.savebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  height: 48px;
  width: 76px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;


}

.savebtn:hover {
  background-color: #db0000;
}

.item-body {
  width: 300px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.item-stat {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  font-family: Oswald, Arial, sans-serif;
  font-size: 15px;
}

.item-check {
  display: inline-block;
  width: 150px;
  background-color: #ff9900;
  color: white;
  height: 40px;
  border: 1px solid;
  font-family: "Montserrat";
  font-size: 15px;
  cursor: pointer;
}

.flex-item:hover .savebtn {
  display: block;
  transition: 1s;
}


.flex-item {
  width: 350px;
  height: 430px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Lato';
}

.item-name{
  text-decoration:none;
  color: #454545;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  font-family: 'Oswald';
}

.item__layout {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: 460px;
  background-color:white;
  justify-content: center;
}


@media (max-width: 1135px){
  .item__layout{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 740px){
  .item__layout{
    grid-template-columns: 1fr;
    place-items: center;
  }
}


/*Success Stories?*/

.background {
  height: 344px;
  background-color: #e1e1e1;
  width: 90%;
  margin-top: 40px;
  margin-left: 105px;
  margin-right: 15px;
  position: relative;
}
.success_story{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#loginContent{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items:center;
  justify-content:center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.login-container{
  max-width: 400px;
  margin: 0;
  padding: 20px;
  border: 2px auto #ccc;
  border-radius:5px;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  /*top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.2s ease-in-out;*/
}


.login-img{
  width:100%;
} 
.login-container h3{
  font-family:'Roboto Condensed';
  position:relative;
  color:#454545;
}

.form-group{
  margin-bottom: 10px;
  font-family:'Poppins';
}
.form-group label{
  display: block;
  font-weight: bold;
}

.form-password{
  width:100%;
  height:30px;
  border:none;
  padding: 8px;
  outline: 1px solid #c7c7c7;
  border-radius:3px;
  font-weight:100;
}

.form-text{
  width:100%;
  height:30px;
  padding: 8px;
  border:none;
  outline: 1px solid #c7c7c7;
  border-radius:3px;
  font-weight:100;
}
.form-submit{
  width: 100%;
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:5px;
  height:40px;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: bold;
}
.form-submit:hover{
  background-color: #45a049;
}

.center-form{
  width:25rem;
  display:fixed;
  aspect-ratio:1/1;
  inset:0rem;
  border-radius:5px;
  margin: 0 auto;
  padding: 20px 30px 20px 20px;
  background-color:#e1eaf4;
  outline: 1px solid #bababa;
}



#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
  
#popupContent {
  position: relative;
  width: 80%;
  max-width: 400px;
  margin: 10% auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
  

.modal-register {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  font-family: 'Poppins';
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #999;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.register-form {
  margin-top: 20px;
}

.small-logo-login {
  width: 357px;
  height: auto;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Open Sans';
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group-container {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#submit {
  width: 100%;
  padding: 10px;
  background-color: #dc0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: bold;
  text-shadow: #666;
  cursor: pointer;
}

.grey-link-tos {
  color: #aaa;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.grey-link {
  color: #aaa;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.grey-link-tos:hover,
.grey-link:hover {
  color: #666;
}

  /* Style for the success message */


.modal-register-post {
  text-align: center;
}

.modal-register-post h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-register-post .button {
  padding: 10px 20px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}  




/*contact button*/

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Open Sans Condensed", Helvetical, Sans-Serif;
  border-radius: 5px;
  position: fixed;
  right: 10%;
  bottom: 0;
  height: 35px;
  z-index: 1;
  padding: 7px 15px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #a54343;
  border: none;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, .3);
  transition: all 0.2s ease;
}

.button-link:hover {
  background-color: #a54343;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, .3);
  transform: translateY(-3px);
}

.button-link .msg-icon {
  width: 35px;
}



/*--------Footer---------*/


  .footer-separator {
    border: none;
    border-top: 1px solid transparent;
    margin: 30px 0;
  }
  
  
  footer {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width:100%;
    flex-direction: column;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    font-family:'Poppins';
    margin: 0 auto;
  }
  
  .footer-text {
    flex: 0 0 auto;
    text-align: center;
  }
  .footer-text p{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: .02rem;
    word-spacing: 0.06rem;
  }
  
  .footer-text h4{
    position: relative;
    bottom: 20px;
    font-weight: 100;
  }
  
  .footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 50px;
  }
  
  .footer-links {
    flex: 0 0 auto;
  }
  
  .footer-links a {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-links a:hover{
    color: rgb(255, 166, 0);
  }
  
  .footer-disclaimer {
    flex: 0 0 100%;
    margin-top: 20px;
    width: 85%;
  }
  
  .footer-disclaimer p {
    margin: 0;
  }
  
  .footer-disclaimer a {
    color: #1663b3;
    text-decoration: none;
  }
  
  .footer-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:  0 50px 0 50px;
  }
  