html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FBE8DE;

}

.main__logo {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.header__img {
  display: inline-block;
  vertical-align: center;
  height: 90px;
  width: 350px;

}




.search__drop {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background-color: white;
}
.lord__icon{
  position:absolute;
  left:100px;
}

.search__container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: black;
  /* rgba(255, 255, 255, 0.2); */
  background: transparent;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
  border-style: solid;
  border-color: black;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: black;
}

::placeholder {
  color: black;
}

.search-bar button {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #cac7ff;
  color: #000;
  cursor: pointer;
  margin-left: 40px;
}


.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #545454;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0%;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: lightgray;
}

.whatsnew:hover {
  color: #fd6700;
  letter-spacing: .1em;
}

.whatsnew span {
  position: absolute;
  display: block;
  background: #fd7700;
}

.whatsnew span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.whatsnew:hover span:nth-child(1) {
  transform: scaleX(1);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}





/*-----Submit prd------*/



.main-submitprd{
  display: flex;
  font-family: 'Poppins';
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.subsection1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subsection1 img{
  height: 75px;
  width: 75px;
}

.subsection1 button{
  font-size: 17px;
  width: 160px;
  border: none;
  color: white;
  background-color: orange;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.subsection1 button:hover{
  background-color: rgb(211, 138, 1);
}

.subsection2{
  width: 100%;
  margin: 50px 0 50px 0;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  justify-content: center;
}

.subsection2 h3{
  text-align: center;
}

.flexsubsect2{
  display: flex;
  position: relative;
  left: 30px;
}

.flexsubsect2 div img{
  height: 100px;
  width: 100px;
}

.flexsubsect2 div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.flexsubsect2 div p{
  text-align: center;
}

.subsection3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subsection3 img{
  width: 454px;
}

.subsection3 p{
  text-align: center;
}

.subsection4{
  background-color: #ececec;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.subsection4 h1{
  color: #333;
  font-weight: 100;
  margin: 0 0 50px 0;
}

.subsection4 div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subsection4 div p span{
  font-size: 25px;
  font-weight: bold;
  color: rgb(233, 153, 4);
}
.subsection4 div p{
  color: #333;
  margin: 0 50px 0 50px;
  text-align: center;
}

.subsection5{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 50px 0;
  align-items: center;
  justify-content: center;
}

.suc{
  display: block;
  margin: 20px auto;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.11);
  padding: 20px;
  height: 200px;
  width: 700px;
  border-radius: 15px;
  outline: 1px solid orange;
}

.suc img{
  height: 200px;
  width: 200px;
  border-radius: 16px;
}

.subsection5 button{
  font-size: 17px;
  width: 160px;
  border: none;
  color: white;
  background-color: orange;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.subsection5 button:hover{
  background-color: rgb(211, 138, 1);
}


/*--------Footer---------*/


  .footer-separator {
    border: none;
    border-top: 1px solid transparent;
    margin: 30px 0;
  }
  
  
  footer {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    font-family:'Poppins';
    margin: 0 auto;
  }
  
  .footer-text {
    flex: 0 0 auto;
    text-align: center;
  }
  .footer-text p{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: .02rem;
    word-spacing: 0.06rem;
  }
  
  .footer-text h4{
    position: relative;
    bottom: 20px;
    font-weight: 100;
  }
  
  .footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 50px;
  }
  
  .footer-links {
    flex: 0 0 auto;
    margin-left: 200px;
    margin-top: 20px;
  }
  
  .footer-links a {
    position: relative;
    top: 30px;
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-links a:hover{
    color: rgb(255, 166, 0);
  }
  
  .footer-disclaimer {
    flex: 0 0 100%;
    margin-top: 20px;
    width: 85%;
  }
  
  .footer-disclaimer p {
    margin: 0;
  }
  
  .footer-disclaimer a {
    color: #1663b3;
    text-decoration: none;
  }
  
  .footer-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:  0 50px 0 50px;
  }
  