{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'createblog.css' %}">
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Mynerve&family=Poppins:wght@100;500&family=Plus+Jakarta+Sans:wght@300&display=swap"
    rel="stylesheet"
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
    <title>Document</title>
</head>
<body>
    <section class="landing__page">
        <div class="main__logo">
          <a href="{% url 'homepage' %}"><img src="{% static 'images/ThisIsWhyI_mBroke-removebg-preview.png' %}" class="header__img"></img></a> 
        </div>
    </section>

    <!-- Create blog form -->

    <section class="blog__wrapper">
        <form method="POST" enctype="multipart/form-data" style="position: relative;">
            {% csrf_token %}
            <label for="title">Title : </label><br>
            <input id="title" type="text" name="title"><br>
            <label for="blogurl">Blog URL : </label><br>
            <input id="blogurl" type="text" name="blogurl"><br>
            <label for="desc">Description : </label><br>
            <textarea name="desc" id="desc" rows="20" style="resize: none;"></textarea><br>
            <label for="imgurl">Image URL : </label><br>
            <input type="text" id="imgurl" name="imgurl"><br>
            <!-- <label for="csv">
                <span>Choose CSV file : </span>
                <img src="{% static 'images/attach.png' %}" style="height: 20px;width: 20px;cursor: pointer;" />
            </label><br> -->
            {{ form.as_p }}
            <button type="submit" class="button-56">Submit</button>
        </form>
    </section>
</body>
</html>