{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 's/style2.css' %}">
  <title>ThisISWhyImBroke :: The Internets's Mall Clone</title>
  <link rel="icon" href="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>

<body>
  <section class="landing__page">
    <div class="main__logo">
      <a href="{% url 'homepage' %}"><img src="{% static 'images/ThisIsWhyI_mBroke-removebg-preview.png' %}" class="header__img"></img></a> 
    </div>
    <div class="openMenu"><i class="fa-solid fa-bars"></i></div>
    <ul class="mainMenu">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="/allgiftsguide/">Gift Blogs</a></li>
      <!-- <li><a href="/submitaproduct/">Submit Product</a></li> -->
      <li><a href="/contactus/">Contact</a></li>
      <div class="closeMenu"><i class="fa-solid fa-xmark"></i></div>
      <hr style="width: 90%;">
      <span class="icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </span>
    </ul>

    <!-- Hamburger script -->

    <script>
      const mainMenu = document.querySelector('.mainMenu');
      const closeMenu = document.querySelector('.closeMenu');
      const openMenu = document.querySelector('.openMenu');
      const menu_items = document.querySelectorAll('nav .mainMenu li a');

      openMenu.addEventListener('click',show);
      closeMenu.addEventListener('click',close);

      // close menu when you click on a menu item 
      menu_items.forEach(item => {
          item.addEventListener('click',function(){
              close();
          })
      })

      function show(){
          mainMenu.style.top = '0';
      }
      function close(){
          mainMenu.style.top = '-120%';
      }
    </script>
  </section>
  <section class="search__drop" style="position: relative;">
    <hr style="z-index: 10; position: absolute;border: none;height: 9px;background-color: #221f45;width: 100%;display: flex;align-items: center;justify-content: center;">
    <div class="drop__containers">
      <!-- Need to change link for new button -->

      <a href="{% url 'homepage' %}" style="text-decoration: none;color: #221f45;display: flex;flex-direction: column;align-items: center;justify-content: center;row-gap: 10px;">
        <i class="fa-solid fa-house"></i>
        <button class="btn-5">WHATS NEW</button>
      </a>

      <div class="dropdown" onmouseover="showRecipientOptions()" onmouseout="hideRecipientOptions()">
        <button class="dropbtn btn-1">
          <i class="fa-solid fa-person"></i><br>
          GIFTS BY RECIPTENT
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/men/">Men</a>
          <a href="/women/">Women</a>
          <a href="/dad/">Dad</a>
          <a href="/mom/">Mom</a>
          <a href="/allgiftsguide/kidsgifts/">Kids</a>
          <a href="/teenboys/">Teens</a>
          <a href="/allgiftsguide/grandmagifts/">Grandma</a>
          <a href="/allgiftsguide/boyfriendgifts/">Boyfriend</a>
          <a href="/allgiftsguide/girlfriendgifts/">Girlfriend</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-gift"></i><br>
          GIFTS BY OCCASION
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/fathersday/">Father's Day</a>
          <a href="/mothersday/">Mother's Day</a>
          <a href="/valentinesday/">Valetines Day</a>
          <a href="/allgiftsguide/anniversarygifts/">Anniversary</a>
          <a href="/birthdaygift/">Birthday Gifts</a>
          <a href="/allgiftsguide/graduationgifts/">Graduation</a>
          <a href="/allgiftsguide/friendgivinggifts/">Friendship Day</a>
          <a href="/allgiftsguide/weddinggifts/">Wedding</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-arrow-trend-up"></i><br>
          TRENDING GIFTS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/allgiftsguide/legogifts/">Lego</a>
          <a href="/allgiftsguide/starwars/">Starwars</a>
          <a href="/allgiftsguide/geekygifts/">Geek</a>
          <a href="/allgiftsguide/travelgifts/">Gamers</a>
          <a href="/allgiftsguide/foodiegifts/">Food</a>
          <a href="/allgiftsguide/funnygifts/">Funny</a>
          <a href="/allgiftsguide/carlovers/">Car Lovers</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-gear"></i><br>
          MORE CATEGORIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/allgiftsguide/">All Guides</a>
          <a href="/contactus/">Contact Us</a>
          <!-- <a href="/submitaproduct/">Submit a Product</a> -->
        </div>
      </div>
      
    </div>
  </section>
  <main style="width:100vw;">
    <div class="guides">
      <h1 class="guides-header">GIFT GUIDES</h1>
      <p class="guides-body">Holiday, birthday, special occasion and “just because” gift-buying is a breeze thanks to our carefully curated gift guides. The handpicked gift ideas on the lists here cover gifts your friends need, presents your family wants, and treats your loved ones didn’t know they had to have. There’s something for everyone right here, and we searched everywhere to give you gift guides that keep giving. From high-quality tech to tasty treats for foodies, bestsellers to unique one-of-a-kind items, the world of perfect presents is at your fingertips.</p>
    </div>
    <hr class="serp">
    <div class="guide-container">
      {% for op in mydata %}
        {% if op.type != "men" and op.type != "fathersday" %}
        <div class="flex-item">
          <img class="cat1" src="{{op.photo}}">
          <a href="{{op.type}}/" style="color: black;text-decoration: none;"><h1 class="cat-body">{{op.name}}</h1></a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    </div> 


    <footer>
    <div class="footer-content">
      <div class="footer-top">
        <div class="footer-text">
          <p>
            <img src="https://www.thisiswhyimbroke.com/assets/images/cash-in-hand-logo-large.png" alt="This Is Why Im Broke logo" class="footer-logo">
            THIS IS WHY IM BROKE
          </p>
          <h4>© 2023 ThisIsWhyImBroke. All rights reserved.</h4>
          <div class="footer-links">
            <a href="/contactus">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="footer-disclaimer">
        <p>
          ThisIsWhyImBroke is reader supported, some products displayed may earn us a commission if you purchase through our links. ThisIsWhyImBroke is a participant in the Amazon Services LLC Associates Program.<a href=#>Learn more about how our site works.</a>
        </p>
      </div>
    </div>
   </footer>
    
  <!-- Data aos animation -->
  
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  </main>
</body>

</html>