{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>TIWIB</title>
  <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Mynerve&family=Poppins:wght@100;500&family=Plus+Jakarta+Sans:wght@300&family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <!-- Landing Body -->


  <section class="landing__page">
    <div class="main__logo" style="position: relative;">
      <img src="{% static 'images/ThisIsWhyI_mBroke-removebg-preview.png' %}" data-aos="fade-down" data-aos-once="false" data-aos-duration="2000" class="header__img"></img>
      {% if loggedin %}
      <img src="{% static 'images/profile.png' %}" class="user-pic" onclick="toggleMenu()">
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img src="{% static 'images/profile.png' %}" alt="">
            <h3>Name</h3>
          </div>
          <hr style="border: 0;height: 1px;width: 100%;background: #ccc;margin: 15px 0 10px;">
          <form action="logins" method="post">
            {%csrf_token%}
            <button value="{{userid.id}}" name='user' class="sub-menu-link">
              <i class="fa-solid fa-user"></i>
              <p>View Profile</p>
              <span>></span>
            </button> 
          </form>
          <form action="logout" method="post">
            {%csrf_token%}
            <button href="" class="sub-menu-link">
              <i class="fa-solid fa-right-from-bracket"></i>
              <p>Logout</p>
              <span>></span>
            </button>  
          </form>
          <button class="sub-menu-link">
            <i class="fa-solid fa-square-plus"></i>
            <p>Create blog</p>
            <span>></span>
          </button>
        </div>
      </div>
      {% endif %}

      <script>
        let subMenu = document.getElementById("subMenu")

        function toggleMenu () {
          subMenu.classList.toggle("open-menu")
        } 
      </script>

    </div>
    <img src="{% static 'images/61195ed506c73c67adaf0a3d_Group 44.svg' %}" class="main__images right__img" data-aos="slide-left" data-aos-once="false" data-aos-duration="2000" align="right">
    <img src="{% static 'images/61195ef16ada8678daf3f267_Group 45.svg' %}" class="main__images left__img" data-aos="slide-right" data-aos-once="false" data-aos-duration="2000" align="left">
    <div class="hero__sec">
      <div clas="para">
        <p class="para1" data-aos="fade-up" data-aos-once="true" data-aos-duration="2000">Unearth the extraordinary:</p>
        <p class="para2" data-aos="fade-up" data-aos-once="true" data-aos-duration="2000">a curated collection of remarkable finds</p>
      </div>
      {% if loggedin != True %}     
      <div class="logreg__buttons" >
        <button class="button1 button" data-aos="flip-up" data-aos-once="true" data-aos-duration="2000" data-aos-delay="1200" id="openLogin">Login</button>
        <button class="button2 button" data-aos="flip-up" data-aos-once="true" data-aos-duration="2000" data-aos-delay="1200"  id="openPopup">Register</button>
      </div>
      {% endif %}
       <p class="guaranteed" data-aos="fade-in" data-aos-once="true" data-aos-duration="2000" data-aos-delay="2200">Products you’ll <img src="{% static 'images/61195da63e9b07d94bbaa046_heart (1).svg' %}"></img>,
      guaranteed</p>
  </section>

  <!--Login Content-->
  
  <div id="loginContent">
    <div class="center-form">
      <form class="loginform" method="post" action="/check">
        {% csrf_token %}
        <div class="login-container">
          <img class="login-img" src="{% static 'images/ThisIsWhyI_mBroke-removebg-preview.png' %}">
        </div>     
        <div class="form-group">
          <label for="username">Email:</label>
          <input type="text" id="username" name="user" required class="form-text">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required class="form-password">
        </div>
        <div class="form-group">
          <input type="submit" value="LOGIN" onclick="login()" class="form-submit">
        </div>
      </form>
    </div>
  </div>

  <script>
    document.getElementById("openLogin").addEventListener("click", function() {
      document.getElementById("loginContent").style.display = "flex";
    });
  
    document.getElementById("loginContent").addEventListener("click", function(event) {
      if (event.target === this) {
        this.style.display = "none";
      }
    });
  </script>

  <!--Register Content-->
  
  <div id="popupContainer">
    <div id="popupContent">
      <div class="modal-register">
          <img class="small-logo-login" src="{% static 'images/ThisIsWhyI_mBroke-removebg-preview.png' %}" alt="ThisIsWhyImBroke Logo" />
          <h2 style="font-family: 'Poppins';">Join Us!</h2>
          <form action="register" method="post">
        {% csrf_token %}
          <div class="form-group-container">
            <div class="form-group">
              <label for="registerEmail" style="font-family: 'Poppins';">Email:</label>
              <input
                class="form-control ng-pristine ng-untouched ng-valid ng-empty form-text"
                type="text"
                name="email"
                ng-model="registerData.email"
                id="registerEmail"
              />
            </div>
            <div class="form-group">
              <label for="registerPassword" style="font-family: 'Poppins';">Password:</label>
              <input
                class="form-control ng-pristine ng-untouched ng-valid ng-empty form-text"
                type="password"
                name="password"
                ng-model="registerData.password"
                id="registerPassword"
              />
            </div>
            <input
              class="btn btn-default"
              type="submit"
              value="CREATE ACCOUNT"
              id="submit"
            /><br />
            <a class="grey-link" ng-click="switchToLogin()"
              >Already a member? Log in</a
            >
          </div>
        </form>
      </div>
      <div class="modal-register-post" style="display: none">
        <h1>Success!</h1>
        Your account has been created! You can now add items to your wishlist.<br/><button
          class="button"
          ng-click="close('Cancel');"
        >
          Finish
        </button>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("openPopup").addEventListener("click", function() {
    document.getElementById("popupContainer").style.display = "block";
  });
  
  document.getElementById("popupContainer").addEventListener("click", function(event) {
    if (event.target === this) {
      this.style.display = "none";
    }
  });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/django.js/0.8.1/django.min.js"></script>

  <!--  CONTACT BUTTON --->
  
  <!--  Search Bar --->

  <section class="hero__stories">
    <div style="display:flex; flex-direction:column; place-items:center;">
      <h1 style="font-family: 'Montserrat';font-weight:500;font-size:30px;margin-bottom:-20px;">Blogs</h1>
      <h5 style="font-family: 'Montserrat';font-weight:300;font-size:20px;margin-bottom:20px;">For all your needs</h5>
      <i class="fa fa-chevron-left prev"></i>
      <i class="fa fa-chevron-right next"></i>
    </div>
    
    <div class="cont__blog" style="font-family: 'Poppins';">
      <div class="story__1 stories">
        <img src="{% static 'images/lovedones.jpeg' %}"></img>
        <a href="/valentinesday" style="text-decoration:none;"><h5>40+ gifts for your loved ones</h5></a> 
      </div>
      <div class="story__2 stories">
        <img src="{% static 'images/teenboys.webp' %}">
        <a href="/allgiftsguide/oldtoys" style="text-decoration:none;"><h5>50+ gifts that all age will like</h5></a>
      </div>
      <div class="story__3 stories">
        <img src="{% static 'images/graduation.jpg' %}"></img>
        <a href="/allgiftsguide/adultcoloringbooks" style="text-decoration:none;"><h5>50+ Gifts that you can give to creative people</h5></a>
      </div>
      <div class="story__4 stories">
        <img src="{% static 'images/mom.jpg' %}"></img>
        <a href="/mothersday" style="text-decoration:none;"><h5>100+ Gifts that can cheer your mom</h5></a>
      </div>
      <div class="story__5 stories">
        <img src="{% static 'images/daughter.jpg' %}"></img>
        <a href="/fathersday" style="text-decoration:none;"><h5>20+ Gifts you can give to your Father</h5></a>
      </div>
      <div class="story__ stories">
        <img src="{% static 'images/sibilings.jpg' %}"></img>
        <a href="/allgiftsguide/financegift" style="text-decoration:none;"><h5>Financially savvy gifts</h5></a>
      </div>
    </div>

    <div data-aos="fade-down" data-aos-once="false" data-aos-duration="1000">
      <a href="/allgiftsguide/"><button style="border:none;border-radius:9px;background-color: #262626;color:white;cursor: pointer;padding: 10px;font-family: 'Poppins';">More Blogs</button></a>
    </div>
    
  </section>

  
  <section class="search__drop" style="margin-top: 10px">
    <div class="search__container">
      <!--
      <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
      <lord-icon 
        src="https://cdn.lordicon.com/etwtznjn.json"
        trigger="loop"
        delay="2000"
        colors="primary:#121331,secondary:#08a88a"
        style="width:150px;height:150px" class="lord__icon">
      </lord-icon>
      -->
      <form action="search" class="search-bar" method="post">
        {% csrf_token %}
        <input type="text" list='values' placeholder="search here" id="query" name="query" style="appearance:none;">
        <!-- <datalist id="values" style="appearance:none;">
          {% for i in values %}
          <option value="{{i.name}}" style="appearance:none;">
          {% endfor %}
        </datalist> -->
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>                                                                                  
    </div>

  
    <div class="drop__containers" style="display: flex;align-items: center;justify-content: center;column-gap: 10px;flex-wrap: wrap;">

      <!-- Need to change link for new button -->

      <a href="{% url 'homepage' %}" style="text-decoration: none;color: #221f45;display: flex;flex-direction: column;align-items: center;row-gap: 10px;justify-content: center;">
        <i class="fa-solid fa-house"></i>
        <button class="btn-5">WHATS NEW</button>
      </a>
      
      <div class="dropdown" onmouseover="showRecipientOptions()" onmouseout="hideRecipientOptions()">
        <button class="dropbtn btn-1">
          <i class="fa-solid fa-person"></i><br>
          GIFTS BY RECIPTENT
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/men/">Men</a>
          <a href="/women/">Women</a>
          <a href="/dad/">Dad</a>
          <a href="/mom/">Mom</a>
          <a href="/allgiftsguide/kidsgifts/">Kids</a>
          <a href="/teenboys/">Teens</a>
          <a href="/allgiftsguide/grandmagifts/">Grandma</a>
          <a href="/allgiftsguide/boyfriendgifts/">Boyfriend</a>
          <a href="/allgiftsguide/girlfriendgifts/">Girlfriend</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-gift"></i><br>
          GIFTS BY OCCASION
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/fathersday/">Father's Day</a>
          <a href="/mothersday/">Mother's Day</a>
          <a href="/valentinesday/">Valetines Day</a>
          <a href="/allgiftsguide/anniversarygifts/">Anniversary</a>
          <a href="/birthdaygift/">Birthday Gifts</a>
          <a href="/allgiftsguide/graduationgifts/">Graduation</a>
          <a href="/allgiftsguide/friendgivinggifts/">Friendship Day</a>
          <a href="/allgiftsguide/weddinggifts/">Wedding</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-arrow-trend-up"></i><br>
          TRENDING GIFTS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/allgiftsguide/legogifts/">Lego</a>
          <a href="/allgiftsguide/starwars/">Starwars</a>
          <a href="/allgiftsguide/geekygifts/">Geek</a>
          <a href="/allgiftsguide/travelgifts/">Gamers</a>
          <a href="/allgiftsguide/foodiegifts/">Food</a>
          <a href="/allgiftsguide/funnygifts/">Funny</a>
          <a href="/allgiftsguide/carlovers/">Car Lovers</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-gear"></i><br>
          MORE CATEGORIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/allgiftsguide/">All Guides</a>
          <a href="/contactus/">Contact Us</a>
          <!-- <a href="/submitaproduct/">Submit a Product</a> -->
        </div>
      </div>

    </div>
  </section>
 

  <div class="item__layout" id="tem_lay">
    {% include "./components/itemlist.html" %}
  </div>

  <div class="buttonload" style="position: absolute;height: 50px;width: 100%;display: flex;justify-content: center;align-items: center;font-size: 17px;color: #221f45;">
    <i class="fa fa-spinner fa-spin"></i>Loading
  </div>
 
  <footer>
    <div class="footer-content">
      <div class="footer-top">
        <div class="footer-text">
          <p>
            <img src="https://www.thisiswhyimbroke.com/assets/images/cash-in-hand-logo-large.png" alt="This Is Why Im Broke logo" class="footer-logo">
            THIS IS WHY IM BROKE
          </p>
          <h4>© 2023 ThisIsWhyImBroke. All rights reserved.</h4>
          <div class="footer-links">
            <a href="/contactus">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="footer-disclaimer">
        <p>
          ThisIsWhyImBroke is reader supported, some products displayed may earn us a commission if you purchase through our links. ThisIsWhyImBroke is a participant in the Amazon Services LLC Associates Program.<a href=#>Learn more about how our site works.</a>
        </p>
      </div>
    </div>
   </footer>


  <!-- Data aos animation -->

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>

    AOS.init({
      offset: 120,
      easing: 'ease',
      disable: window.innerWidth < 468,
    });

    document.querySelectorAll('img')
      .forEach((img) => 
        img.addEventListener('load',() => 
          AOS.refresh()
    ));

  </script>

  <!-- JQuery -->

  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  
  <!-- Slick JS -->
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>

  <!-- For Carousel -->
    
  <script type="text/javascript">
    $('.cont__blog').slick({
      dots: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      nextArrow: $('.next'),
      prevArrow: $('.prev'),
      responsive: [
        {
          breakpoint: 1124,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 900,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });      
  </script>
  
  
</body>

</html>