{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Mynerve&family=Poppins:wght@100;500&family=Plus+Jakarta+Sans:wght@300&family=Lato:wght@300;500;700&family=Oswald:wght@500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <section class="landing__page">
    <div class="main__logo">
      <a href="{% url 'homepage' %}"><img src="{% static 'images/ThisIsWhyI_mBroke-removebg-preview.png' %}" class="header__img"></a>
    </div>
    <div class="openMenu"><i class="fa-solid fa-bars"></i></div>
    <ul class="mainMenu">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="/allgiftsguide/">Gift Blogs</a></li>
      <li><a href="/submitaproduct/">Submit Product</a></li>
      <li><a href="/contactus/">Contact</a></li>
      <div class="closeMenu"><i class="fa-solid fa-xmark"></i></div>
      <hr style="width: 90%;">
      <span class="icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </span>
    </ul>
    <!-- Hamburger script -->

    <script>
      const mainMenu = document.querySelector('.mainMenu');
      const closeMenu = document.querySelector('.closeMenu');
      const openMenu = document.querySelector('.openMenu');
      const menu_items = document.querySelectorAll('nav .mainMenu li a');

      openMenu.addEventListener('click', show);
      closeMenu.addEventListener('click', close);

      // close menu when you click on a menu item 
      menu_items.forEach(item => {
        item.addEventListener('click', function () {
          close();
        })
      })

      function show() {
        mainMenu.style.top = '0';
      }
      function close() {
        mainMenu.style.top = '-100%';
      }
    </script>
  </section>

  <section class="search__drop" style="position: relative;">
    <hr
      style="z-index: 10; position: absolute;border: none;height: 9px;background-color: #221f45;width: 100%;display: flex;align-items: center;justify-content: center;">
    <div class="drop__containers" style="z-index: 15;background-color: #FBE8DE;display: flex;">

      <a href="{% url 'homepage' %}"
        style="text-decoration: none;color: #221f45;align-items: center;display: flex;flex-direction: column;justify-content: center;row-gap: 10px;">
        <i class="fa-solid fa-house"></i>
        <button class="btn-5">WHATS NEW</button>
      </a>

      <div class="dropdown" onmouseover="showRecipientOptions()" onmouseout="hideRecipientOptions()">
        <button class="dropbtn btn-1">
          <i class="fa-solid fa-person"></i><br>
          GIFTS BY RECIPTENT
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/men/">Men</a>
          <a href="/women/">Women</a>
          <a href="/dad/">Dad</a>
          <a href="/mom/">Mom</a>
          <a href="/kids/">Kids</a>
          <a href="/teenboys/">Teen Boys</a>
          <a href="/teengirls/">Teen Girls</a>
          <a href="/boyfriend/">Boyfriend</a>
          <a href="/girlfriend/">Girlfriend</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-gift"></i><br>
          GIFTS BY OCCASION
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/fathersday/">Father's Day</a>
          <a href="/mothersday/">Mother's Day</a>
          <a href="/valentinesday/">Valetines Day</a>
          <a href="/aniversary/">Anniversary</a>
          <a href="/birthdaygift/">Birthday Gifts</a>
          <a href="/graduation/">Graduation</a>
          <a href="/engagement/">Engagement</a>
          <a href="/wedding/">Wedding</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-arrow-trend-up"></i><br>
          TRENDING GIFTS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/funny/">Funny</a>
          <a href="/gaggifts/">Gag Gifts</a>
          <a href="/geek/">Geek</a>
          <a href="/gamers/">Gamers</a>
          <a href="/food/">Food</a>
          <a href="/travel/">Travel</a>
          <a href="/movie/">Movie</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-gear"></i><br>
          MORE CATEGORIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/allgiftsguide/">All Guides</a>
          <a href="/contactus/">Contact Us</a>
          <a href="/submitaproduct/">Submit a Product</a>
        </div>
      </div>

    </div>
  </section>

  <section class="login__container">
    <div class="self__info">
      <div class="lleft">
        <h1 style="font-family: 'Oswald';">{{n2.name}}</h1>
        <h3 style="font-family: 'Arial';">Account number : {{n2.id}}</h3>
      </div>
      <div class="lright">
        <img src="{%static 'images/profile.png'%}" alt="">
      </div>
    </div>
    <hr style="width: 70%;margin: 0 auto;background: black;border: none;height: 1px;margin-top: 10px;">
    <br>
    <h2 style="margin-left:auto;margin-right:auto; font-family:'Oswald';border-bottom: 2px solid;">Saved Items</h2>
    <br>
    <section class="item__layout">
      {% for ops in pros %}
      {%for op in ops%}
      <div class="flex-item">
        <a href="#" class="item-name">{{op.name | truncatechars:35}}</a>
        <img class="item1" src="{{op.pic}}">
        <form id='formId' method="post" action="unsavedproducts">
          {%csrf_token%}
          <button type='submit' class="savebtn" value="{{op.id}}" name="unsaved"> UNSAVE</button>
        </form>
        <p class="item-body">{{op.des | truncatechars:160}}</p>
        <p class="item-stat">{{op.rate}}</p>
        <a href="{{op.link}}" target="_blank">
          <button class="item-check">CHECK IT OUT</button>
        </a>
      </div>
      {%endfor%}
      {% endfor %}
    </section>
  </section>

  <footer>
    <div class="footer-content">
      <div class="footer-top">
        <div class="footer-text">
          <p>
            <img src="https://www.thisiswhyimbroke.com/assets/images/cash-in-hand-logo-large.png"
              alt="This Is Why Im Broke logo" class="footer-logo">
            THIS IS WHY IM BROKE
          </p>
          <h4>© 2023 ThisIsWhyImBroke. All rights reserved.</h4>
          <div class="footer-links">
            <a href="/contactus">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="footer-disclaimer">
        <p>
          ThisIsWhyImBroke is reader supported, some products displayed may earn us a commission if you purchase
          through our links. ThisIsWhyImBroke is a participant in the Amazon Services LLC Associates Program.<a
            href=#>Learn more about how our site works.</a>
        </p>
      </div>
    </div>
  </footer>

</body>

</html>