{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Mynerve&family=Poppins:wght@100;500&family=Plus+Jakarta+Sans:wght@200;300&family=Lato:wght@300;500;700&family=Oswald:wght@500&display=swap"
    rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="{% static 'men.css' %}">
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main__logo">
    <a href="{% url 'homepage' %}"><img src="{% static 'images/ThisIsWhyI_mBroke-removebg-preview.png' %}" class="header__img"></a>
  </div>

  <section class="men_section">
    {% for op in values %}
    <div class="background">
      <img class="men" src="{{op.photo}}">
      <div></div>
    </div>
    <div class="back__">
      <div class="left__">
        <i class="fa-solid fa-eye" style="font-size: 24px;color: #221f45;"></i>
        <i class="fa-regular fa-thumbs-up" style="font-size: 24px;color: #221f45;"></i>
        <!-- <i class="fa-solid fa-list" style="font-size: 24px;color: #221f45;"></i> -->
        <i class="fa-solid fa-grip" style="font-size: 24px;color: #221f45;"></i>
      </div>
      <div class="right__">
        <div class="blog-box">
          <h1>{{op.name}}</h1>
        </div>
        <div class="body">
          <p class="men-body">{{op.description|safe}} </p>
        </div>
      </div>
    </div>


    {% endfor %}
  </section>

  <section class="whole__container">
    <button class="burger" style="z-index: 9999;"><i class='bx bx-menu'></i> </button>
    <div class="sidebar close">
      <ul class="nav-links">
        <div class="logo-details">
          <i class='bx bx-filter'></i>
          <span class="logo_name">Filter</span>
        </div>

        <div class="search__container">
          <form action="search" class="search-bar-2" method="post">
            {% csrf_token %}
            <input type="text" placeholder="search here" name="query" list="val" value="{{v}}" class="search-text">
             <!-- <datalist id="val">
              {%for i in val%}
              <option value="{{i.name}}"></option>
              {% endfor %}
            </datalist> -->
            <button type="submit" class="bar-button-2"><i class="fa fa-search"></i></button>
          </form>
        </div>

        <li>
          <a href="#">
            <i class='bx bx-grid-alt'></i>
            <span class="link_name">Profession</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Profession</a></li>
            <li><a href="/allgiftsguide/accountantgift/">Accountant</a></li>
            <li><a href="/allgiftsguide/formulaonegifts/">Racers</a></li>
            <li><a href="/allgiftsguide/spacegifts/">Astrology</a></li>
            <li><a href="/allgiftsguide/marinegifts/">Mariners</a></li>
            <li><a href="/allgiftsguide/engineergifts/">Engineers</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-collection'></i>
              <span class="link_name">Franchise</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Franchise</a></li>
            <li><a href="/allgiftsguide/anime/">Anime</a></li>
            <li><a href="/allgiftsguide/spidergifts/">Spiderman</a></li>
            <li><a href="/allgiftsguide/starwars/">StarWars</a></li>
            <li><a href="/allgiftsguide/legogifts/">Lego</a></li>
            <li><a href="/allgiftsguide/lotrgifts/">Lord Of The Rings</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-user'></i>
              <span class="link_name">Gift by Reciptent</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Gift By Reciptent</a></li>
            <li><a href="/men/">Men</a></li>
            <li><a href="/women/">Women</a></li>
            <li><a href="/dad/">Dad</a></li>
            <li><a href="/mom/">Mom</a></li>
            <li><a href="/allgiftsguide/kidsgifts/">Kids</a></li>
            <li><a href="/teenboys/">Teens</a></li>
            <li><a href="/allgiftsguide/grandmagifts/">Grandma</a></li>
            <li><a href="/allgiftsguide/boyfriendgifts/">Boyfriend</a></li>
            <li><a href="/allgiftsguide/girlfriendgifts/">Girlfriend</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-cart'></i>
              <span class="link_name">Gifts By Ocassion</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Gifts By Ocassion</a></li>
            <li><a href="/fathersday/">Father's Day</a></li>
            <li><a href="/mothersday/">Mother's Day</a></li>
            <li><a href="/valentinesday/">Valentine's Day</a></li>
            <li><a href="/allgiftsguide/anniversarygifts/">Anniversary</a></li>
            <li><a href="/birthdaygifts/">Birthday Gifts</a></li>
            <li><a href="/allgiftsguide/graduationgifts/">Graduation</a></li>
            <li><a href="/allgiftsguide/friendgivinggifts/">Friendship Day</a></li>
            <li><a href="/allgiftsguide/weddinggifts/">Wedding</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-category'></i>
            <span class="link_name">Gifts By Category</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Gifts By Category</a></li>
            <li><a href="/allgiftsguide/funnygifts/">Funny</a></li>
            <li><a href="/allgiftsguide/geekygifts/">Geek</a></li>
            <li><a href="/allgiftsguide/travelgifts/">Gamers</a></li>
            <li><a href="/allgiftsguide/foodiegifts/">Food</a></li>
            <li><a href="/allgiftsguide/carlovers/">Cars</a></li>
            <li><a href="/allgiftsguide/bachelorgifts/">Bachelor</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-category-alt'></i>
            <span class="link_name">More Categories</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">More Categories</a></li>
            <li><a href="/allgiftsguide/">All Gift Guides</a></li>
            <li><a href="/contactus/">Contact Us</a></li>
            <!-- <li><a href="/submitaproduct/">Contact Us</a></li> -->
          </ul>
        </li>
        <li>
          <a href="{% url 'homepage' %}">
            <i class='bx bx-home'></i>
            <span class="link_name">Home</span>
          </a>
        </li>
        <li>
          {% if link == "men" %}
          <hr style="margin: 5px;">
          </hr>
          <div class="filter__container">
            <form action="search" method="post">

              {%csrf_token%}
              <div class="price range">
                <header>
                  <h2>Price Range</h2>
                </header>
                <div class="price-input">
                  <div class="field">
                    <span>Min</span>
                    <input type="number" name="max1" class="input-min inpu" value="{{max1}}">
                  </div>
                  <div class="separator">-></div>
                  <div class="field">
                    <span>Max</span>
                    <input type="number" name="max2" class="input-max inpu" value="{{max2}}"><br>
                  </div>
                </div>
                </div>
                <button class="apply__filter" style="border-radius: 30px;cursor: pointer;transition: 1s;">Apply Filter</button>
            </form>
          </div>
          {% endif %}
        </div>
      </li>
    </ul>
    <script>
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
          let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
          arrowParent.classList.toggle("showMenu");
        });
      }
      // let sidebar = document.querySelector(".sidebar");
      // let sidebarBtn = document.querySelector(".bx-menu");
      // console.log(sidebarBtn);
      // sidebarBtn.addEventListener("click", ()=>{
      //   sidebar.classList.toggle("close");
      // });
    </script>
    <script>
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>
    <div class="item__layout">
      {% if value %}
        {% include "./components/menlist.html" %}
      {% else %}
      <h1 style="display: flex;justify-content: center;margin-top: 20px;"><i>No such products present...</i></h1>
      {% endif %}
    </div>
  </section>

  <footer>
    <div class="footer-content">
      <div class="footer-top">
        <div class="footer-text">
          <p>
            <img src="https://www.thisiswhyimbroke.com/assets/images/cash-in-hand-logo-large.png"
              alt="This Is Why Im Broke logo" class="footer-logo">

            THIS IS WHY IM BROKE
          </p>
          <h4>© 2023 ThisIsWhyImBroke. All rights reserved.</h4>
          <div class="footer-links">
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
      <div class="footer-disclaimer">
        <p>
          ThisIsWhyImBroke is reader supported, some products displayed may earn us a commission if you purchase through
          our links. ThisIsWhyImBroke is a participant in the Amazon Services LLC Associates Program.<a href=#>Learn
            more about how our site works.</a>
        </p>
      </div>
    </div>
  </footer>

  <!-- Data aos animation -->
  
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <!-- For the alert message -->

  <!-- <script>
    setTimeout(function(){
      if($('#msg').length > 0){
        $('#msg').remove();
        alert("Saved Successfully!");
      }
    }, 2000)
  </script> -->

</body>

</html>