{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'sepitem.css' %}">
  <title>ThisISWhyImBroke :: The Internets's Mall Clone</title>
  <link rel="icon" href="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>

<body>
  <section class="landing__page">
    <div class="main__logo" data-aos="fade-down" data-aos-once="false" data-aos-duration="2000">
      <a href="{% url 'homepage' %}"><img src="{% static 'images/ThisIsWhyI_mBroke-removebg-preview.png' %}" class="header__img"></img></a> 
    </div>
    <div class="openMenu"><i class="fa-solid fa-bars"></i></div>
    <ul class="mainMenu">
      <li><a href="{% url 'homepage' %}">Home</a></li>
      <li><a href="/allgiftsguide/">Gift Blogs</a></li>
      <!-- <li><a href="/submitaproduct/">Submit Product</a></li> -->
      <li><a href="/contactus/">Contact</a></li>
      <div class="closeMenu"><i class="fa-solid fa-xmark"></i></div>
      <hr style="width: 90%;">
      <span class="icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
      </span>
    </ul>

    <!-- Hamburger script -->

    <script>
      const mainMenu = document.querySelector('.mainMenu');
      const closeMenu = document.querySelector('.closeMenu');
      const openMenu = document.querySelector('.openMenu');
      const menu_items = document.querySelectorAll('nav .mainMenu li a');

      openMenu.addEventListener('click',show);
      closeMenu.addEventListener('click',close);

      // close menu when you click on a menu item 
      menu_items.forEach(item => {
          item.addEventListener('click',function(){
              close();
          })
      })

      function show(){
          mainMenu.style.top = '0';
      }
      function close(){
          mainMenu.style.top = '-120%';
      }
    </script>
  </section>
  <section class="search__drop" style="position: relative;">
    <hr style="z-index: 10; position: absolute;border: none;height: 9px;background-color: #221f45;width: 100%;display: flex;align-items: center;justify-content: center;">
    <div class="drop__containers">
      <!-- Need to change link for new button -->

      <a href="{% url 'homepage' %}" style="text-decoration: none;color: #221f45;display: flex;flex-direction: column;align-items: center;justify-content: center;row-gap: 10px;">
        <i class="fa-solid fa-house"></i>
        <button class="btn-5">WHATS NEW</button>
      </a>

      <div class="dropdown" onmouseover="showRecipientOptions()" onmouseout="hideRecipientOptions()">
        <button class="dropbtn btn-1">
          <i class="fa-solid fa-person"></i><br>
          GIFTS BY RECIPTENT
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/men/">Men</a>
          <a href="/women/">Women</a>
          <a href="/dad/">Dad</a>
          <a href="/mom/">Mom</a>
          <a href="/kids/">Kids</a>
          <a href="/teenboys/">Teen Boys</a>
          <a href="/teengirls/">Teen Girls</a>
          <a href="/boyfriend/">Boyfriend</a>
          <a href="/girlfriend/">Girlfriend</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-gift"></i><br>
          GIFTS BY OCCASION
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/fathersday/">Father's Day</a>
          <a href="/mothersday/">Mother's Day</a>
          <a href="/valentinesday/">Valetines Day</a>
          <a href="/aniversary/">Anniversary</a>
          <a href="/birthdaygift/">Birthday Gifts</a>
          <a href="/graduation/">Graduation</a>
          <a href="/engagement/">Engagement</a>
          <a href="/wedding/">Wedding</a>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-arrow-trend-up"></i><br>
          TRENDING GIFTS
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/anime/">Anime</a>
          <a href="/gaggifts/">Gag Gifts</a>
          <a href="/geek/">Geek</a>
          <a href="/gamers/">Gamers</a>
          <a href="/food/">Food</a>
          <a href="/travel/">Travel</a>
          <a href="/movie/">Movie</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          <i class="fa-solid fa-gear"></i><br>
          MORE CATEGORIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/allgiftsguide/">All Guides</a>
          <a href="/contactus/">Contact Us</a>
          <!-- <a href="/submitaproduct/">Submit a Product</a> -->
        </div>
      </div>
      
    </div>
  </section>
  <!-- {% if messages %}
    {% for m in messages %}
    <div class="alert alert-success" id="msg" role="alert" style="width: 100%;background-color: rgba(3, 164, 3, 0.422);color: white;">
      {{m}}
    </div>
    {% endfor %}
  {% endif %} -->
  <main style="width:100vw;">
    {% for item in mainitem %}
    <section class="mainitem" style="margin-top: 100px;">
      <div class="main-left" style="position: relative;">
        {% if loggedin %}
        <form id='formId' method="post" action="savedproducts">
          {%csrf_token%}
          <button type='submit' class="savebtn" value="{{item.id}}" name="saved" data-aos="fade-right" data-aos-once="true" data-aos-duration="2000" data-aos-delay="2900"> SAVE</button>
        </form>
        {% else %}
        <h5 class="logintosave" data-aos="fade-right" data-aos-once="true" data-aos-duration="2000" data-aos-delay="2900"
          style="font-family: 'Plus jakarta sans';font-weight: 400;font-size: large;text-align: center;color: #221f45;transition: 1s;">
          <i>(Login to save)</i></h5>
        {% endif %}
        <img src="{{item.pic}}" data-aos="fade-right" data-aos-once="true" data-aos-duration="2000" data-aos-delay="1000" alt="">
      </div>
      <div class="main-right">
        <h1 data-aos="fade-in" data-aos-once="true" data-aos-duration="2000" data-aos-delay="1000">{{item.name}}</h1>
        <h2 data-aos="fade-down" data-aos-once="true" data-aos-duration="2000" data-aos-delay="1300">₹ {{item.rate}}</h2>
        <p data-aos="fade-in" data-aos-once="true" data-aos-duration="2000" data-aos-delay="1600">{{item.des}}</p>
        <button style="margin: 0 auto;" class="main-check" data-aos="flip-up" data-aos-once="true" data-aos-duration="2000" data-aos-delay="2500"><a href="{{item.link}}" target="_blank" style="text-decoration: none;">Check it out</a></button>
      </div>
    </section>
    <h1 class="similar-item">Similar Items....</h1>
    <section class="item__layout">
      {% for os in value %}
        {% for op in os %}
          {% if op.name != item.name %}
          <div class="flex-item">
            <a href="/products/{{op.id}}" class="item-name">{{op.name | truncatechars:35}}</a>
            <img class="item1" src="{{op.pic}}">
            <!-- <button class="savebtn"> SAVE</button> -->
            <p class="item-body">{{op.des | truncatechars:160}}</p>
            <p class="item-stat">₹ {{op.rate}}</p>
            <a href="{{op.link}}"
              target="_blank">
              <button class="item-check">CHECK IT OUT</button>
            </a>
          </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </section>
    {% endfor %}
    <footer>
    <div class="footer-content">
      <div class="footer-top">
        <div class="footer-text">
          <p>
            <img src="https://www.thisiswhyimbroke.com/assets/images/cash-in-hand-logo-large.png" alt="This Is Why Im Broke logo" class="footer-logo">
            THIS IS WHY IM BROKE
          </p>
          <h4>© 2023 ThisIsWhyImBroke. All rights reserved.</h4>
          <div class="footer-links">
            <a href="/contactus">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="footer-disclaimer">
        <p>
          ThisIsWhyImBroke is reader supported, some products displayed may earn us a commission if you purchase through our links. ThisIsWhyImBroke is a participant in the Amazon Services LLC Associates Program.<a href=#>Learn more about how our site works.</a>
        </p>
      </div>
    </div>
   </footer>
    

   <!-- Data aos animation -->
  
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <!-- For the alert message -->

  <script>
    if($('#msg').length > 0){
      $('#msg').remove();
      console.log("saved");
      alert("Saved Successfully!");
    }
  </script>

  </main>
</body>

</html>