*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    background-color: #FBE8DE;
}
html,body{
    width: 100vw;
    height: auto;
}
.landing__page{
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 7vh;
}
  
.main__logo{
    display: flex;
    justify-content:center;
    align-items: center;
}
  
.header__img{
    position: relative;
    max-height: 90px;
    max-width: 350px;
}
  
.blog__wrapper{
    height: 100%;
    display: grid;
    place-items: center;
}
  