html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBE8DE;
    margin: 0 0;

}

  .flex-item {
    position: relative;
    display: inline-block;
    background: white;
  }
  
  .flex-item>img{
    margin-left: 50px;
    align-items: center;
    display: flex;
    width: 60%;
    height: 50%;
    justify-content: center;
    margin-top: 20px;
    mix-blend-mode: multiply;
  }
  
  .savebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    height: 40px;
    width: 76px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    transition: 1s;
    cursor: pointer;
    border-radius: 7px;
  
  }
  
  .savebtn:hover {
    background-color: #db0000;
  }
  
  .item-body {
    width: 300px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    height: 70px;
  }
  .item-name{
    text-decoration: none;
    color: #454545;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family: 'Oswald';
  }
  
  .item-stat {
    display: inline-block;
    width: 150px;
    cursor: pointer;
    font-family: Oswald, Arial, sans-serif;
    font-size: 15px;
  }
  
  .item-check {
    display: inline-block;
    width: 150px;
    background-color: #221f45;
    color: white;
    height: 35px;
    border: none;
    font-family: "Poppins";
    border-radius: 20px;
    transition: 1s;
    font-size: 15px;
    cursor: pointer;
  }
  
  .item-check:hover{
    background-color: #4d4790;
  }
  
  .flex-item:hover .savebtn {
    display: block;
    transition: 3s;
  }
  .item__layout {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: 530px;
    padding-left: 130px;
  }
  
  .flex-item {
    width: 350px;
    height: 430px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lato';
    transition: 2s;
  }
  .flex-item:hover{
    transform: scale(1.035);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
  
  
  .background {
    height: 344px;
    background-color: #e1e1e1;
    width: 90%;
    margin-top: 40px;
    margin-left: 105px;
    margin-right: 15px;
    position: relative;
  }
  
.main__logo {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.header__img {
    display: inline-block;
    vertical-align: center;
    height: 90px;
    width: 350px;
    z-index: 0;
}

.header__img a {
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero__sec {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.logreg__buttons {
    display: flex;
    place-items: center;
    position: relative;
    top: 50px;
    left: 20px;
}

.button2,
.button1 {
    color: #fff;
    margin-right: 50px;
    text-align: center;
    letter-spacing: .5px;
    background-color: #000;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 24px 30px;
    font-family: Grifter, sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    display: flex;
    box-shadow: 6px 6px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.guaranteed {
    font-family: 'Plus jakarta sans';
    position: relative;
    top: 50px;
}

.main__images {
    position: absolute;
    height: 500px;
    width: 400px;
    z-index: -999;
}

.right__img {
    right: 0;
}

.left__img {
    left: 0;
}

.button {
    position: relative;
    overflow: hidden;
}

.button:hover {
    transform: translateY(-6px);
    box-shadow: 8px 8px rgba(0, 0, 0, .2);
}



/*Drop down + search*/



.lord__icon {
    position: absolute;
    left: 100px;
}

.search__container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}


.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: black;
}

::placeholder {
    color: black;
}

.search-bar button {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #cac7ff;
    color: #000;
    cursor: pointer;
    margin-left: 40px;
}








/*--------Main Login Container------------*/


.login__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.self__info{
    display: flex;
    justify-content: space-around;
}

.lright{
    height: 100px;
    width: 100px;
}

.lright img{
    width: 100%;
    height: 100%;
}

.saved__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.saved__items h2{
    font-family: 'Poppins';
    font-size: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.items__l{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: 460px;
    justify-content: center;
}

.litems{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 290px;
    height: 350px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lato';
}

.litems img{
    margin-left: 50px;
    align-items: center;
    display: flex;
    width: 60%;
    height: 50%;
    justify-content: center;
    margin-top: 20px;
}

/*--------Footer---------*/


.footer-separator {
    border: none;
    border-top: 1px solid transparent;
    margin: 30px 0;
  }
  
  
  footer {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width:100%;
    flex-direction: column;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    font-family:'Poppins';
    margin: 0 auto;
  }
  
  .footer-text {
    flex: 0 0 auto;
    text-align: center;
  }
  .footer-text p{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: .02rem;
    word-spacing: 0.06rem;
  }
  
  .footer-text h4{
    position: relative;
    bottom: 20px;
    font-weight: 100;
  }
  
  .footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 50px;
  }
  
  .footer-links {
    flex: 0 0 auto;
  }
  
  .footer-links a {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-links a:hover{
    color: rgb(255, 166, 0);
  }
  
  .footer-disclaimer {
    flex: 0 0 100%;
    margin-top: 20px;
    width: 85%;
  }
  
  .footer-disclaimer p {
    margin: 0;
  }
  
  .footer-disclaimer a {
    color: #1663b3;
    text-decoration: none;
  }
  
  .footer-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:  0 50px 0 50px;
  }

 /* Burger */

 .landing__page{
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 7vh;
  }
  .openMenu{
    display: none;
  }
  .mainMenu {
    display: none;
    list-style: none;
  }
  
  
  @media screen and (max-width:1025px) {
    .mainMenu li a {
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      font-family: 'Poppins';
      font-size: 18px;
      transition: 0.2s ease;
    }
    .mainMenu{
      height: 100vh;
      position: fixed;
      display: flex;
      overflow: hidden;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 9999;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #221f45;
      transition: top 1s ease 0s;
    }
    .closeMenu{
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .closeMenu i{
      color: white;
      font-size: 20px;
    }
    .icons i {
      display: inline-block;
      padding: 12px;
      color: white;
    }
    .openMenu{
      padding: 18px;
      border-radius: 8px;
      background-color: rgb(251 251 251 / 60%);
      /* position: sticky;
      top: 0; */
      display: flex;
      place-items: center;
      border: 2px solid black;
      cursor: pointer;
    }
    .landing__page{
      flex-direction: row;
      justify-content: space-between;
    }
    .main__logo{
      display: block;
    }
    .dropdown:nth-child(5){
      display: none;
    }
    .header__img{
      height: 75px;
      width: 270px;
    }
  }
  @media screen and (max-width:650px) {
    .header__img{
      height: 60px;
      width: 230px;
    }
    .dropdown .dropbtn{
      font-size: 14px !important;
    }
    .drop__containers a i{
      font-size: 14px !important;
    }
    .btn-5{
      font-size: 14px !important;
    }
  }


  /*Drop down + search*/
  
  .search__drop {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 500;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .lord__icon{
    position:absolute;
    left:100px;
  }
  
  .search__container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .search-bar {
    width: 100%;
    max-width: 700px;
    background: black;
    /* rgba(255, 255, 255, 0.2); */
    background: #001A4B;/* transparent */
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    border-style: solid;
    border-color: black;
  }
  
  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: antiquewhite;
  }
  
  ::placeholder {
    color: antiquewhite;
  }
  
  .search-bar button {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #cac7ff;
    color: #000;
    cursor: pointer;
    margin-left: 40px;
  }
  
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #221f45;
    /* color: #545454; */
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0%;
    /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: #221f45;
    color: white;
  }
  .dropdown .dropbtn i{
    color: #221f45;
  }
  .dropdown:hover .dropbtn i{
    color: white !important;
  }
  .whatsnew:hover {
    color: #fd6700;
    letter-spacing: .1em;
  }
  
  .whatsnew span {
    position: absolute;
    display: block;
    background: #fd7700;
  }
  
  .whatsnew span:nth-child(1) {
    left: 0;
    top: 0;
    width: 50.5%;
    height: 1.5px;
    transform: scaleX(0);
    transition: transform .5s;
  }
  
  .whatsnew:hover span:nth-child(1) {
    transform: scaleX(1);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #333;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #221f45b9;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .btn-5{
    border: none;
    color: transparent;
    font-size: 18px;
    font-family: 'Oswald';
    background-color: transparent;
    color: #221f45;
    cursor: pointer;
  }