html,
body {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  margin-top: 5px;
  overflow-x: hidden;
}

body{
  background-color: #FBE8DE;
  width: 100vw;
  height: auto;
}



.landing__page{
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 7vh;
}

.main__logo{
  display: flex;
  justify-content:center;
  align-items: center;
}

.header__img {
  position: relative;
  max-height: 90px;
  max-width: 350px;
}













.blog-box {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blog {
  cursor: pointer;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  background-color: rgb(111, 70, 70);
  margin: 20px;
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.blog :hover {
  transform: scale(1.1);
}


.blog h3 {
  font-family: 'Poppins';
  color: white;
  font-size: 13px;
}


.section {
  flex-direction: row;
  display: flex;
}

.newest {
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  display: flex;
}

.orange {
  height: 5px;
  width: 20%;
  background-color: #fd6700;
}

.yellow {
  height: 5px;
  width: 20%;
  background-color: #f99b00;
}

.lblue {
  height: 5px;
  width: 20%;
  background-color: #00a4d8;
}

.blue {
  height: 5px;
  width: 20%;
  background-color: #007abf;
}

.dblue {
  height: 5px;
  width: 20%;
  background-color: #034760;
}

.section {
  left: 100px;
  justify-content: center;
}

.btn {
  position: relative;
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  overflow: hidden;
  border-radius: 2px;
  font-weight: bold;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
  color: #3498db;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover {
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0%;
  width: 100%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
  transform-origin: bottom;
}

.btn1::before,
.btn2::before,
.btn3::before,
.btn4::before,
.btn5::before {
  border-radius: 50% 50% 0 0;
  bottom: 0;
}

.btn1:hover::before,
.btn2:hover::before,
.btn3:hover::before,
.btn4:hover::before,
.btn5:hover::before {
  height: 100%;
}

.item1 {
  width: 300px;
  height: 300px;
  object-fit: contain;
  cursor: pointer;
}

.flex-item {
  position: relative;
  display: inline-block;
  background-color: #FBE8DE;
}

.flex-item:hover{
  color:goldenrod;
}

.image {
  display: block;
  width: 300px;
  height: auto;
}

.savebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  height: 48px;
  width: 76px;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;


}

.savebtn:hover {
  background-color: #db0000;
}

.item-body {
  width: 300px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.item-stat {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  font-family: Oswald, Arial, sans-serif;
  font-size: 15px;
}

.item-check {
  display: inline-block;
  width: 150px;
  background-color: #ff9900;
  color: white;
  height: 40px;
  border: 1px solid;
  font-family: "Montserrat";
  font-size: 15px;
  cursor: pointer;
}

.flex-item:hover .savebtn {
  display: block;
}

.flex-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: 560px;
  padding-left: 130px;
}


.flex-item:hover {
  transform: scale(1.1);
}

.background {
  height: 344px;
  background-color: #e1e1e1;
  width: 90%;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.men {
  height: 412px;
  width: auto;
  margin: 8px auto 0;
  display: block;
  position: relative;
  top: -45px;
}

.men-body {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 105px;
  font-family: Lato, sans-serif;
  font-size: 17px;
  text-align: justify;
  word-spacing: 5px;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #333333;
}

.guides-header {
  font-size: 45px;
  margin-top: 40px;
}

.guides {
  margin-top: 40px;
  text-align: center;
}

.guides-header{
  font-family: "Oswald",sans-serif;
  letter-spacing: 5px;
  font-size: 45px;
  position: relative;
}
.guides-header:before {
  content: "";
  border-bottom: 2px solid black;
  width: 17%;
  height: 10px;
  position: absolute;
  bottom: 0;
}

.guides-body {
  position: relative;
  display: flex;
  width:60%;
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.15px;
  line-height: 1.5em;
  margin: 0 auto;
  margin-top: -15px;
  font-size: 16px;
  font-family: Helvetica Neue,sans-serif;
}

.guide-container{
  margin-top:10px;
  display:grid;
  grid-template-columns:330px 330px 330px;
  column-gap:10px;
  justify-content: center;
}

@media( max-width: 1007px)
{
  .guide-container{
    grid-template-columns: 330px 330px;
  }
}

@media (max-width: 675px)
{
  .guide-container{
    grid-template-columns: 330px;
  }
}

h1{
  font-size:50px;
}

.serp{
  margin-top:50px;
  margin-bottom:25px;
  width: 65%;
  display: flex;
  justify-content: center;
}

.flex-item{
  height:325px;
  padding-top: 0px;
  padding-bottom:0px;
  margin-bottom: 60px;
  border:none;
  text-align: center;
}

.cat1{
  margin-top:2px;
  padding: 5px 5px 5px 5px;
  padding-top:0px;
  padding-bottom:0px;
  width:90%;
  object-fit: cover;
  height: 80%;
  margin-bottom:5px;
}

.cat-body{
  margin-top:0px;
  font-family:Oswald,sans-serif;
  font-size:25px;
  letter-spacing:-0.55px;
  line-height:30px;
}

/*For submit a product page*/

.main-submitprd{
  display: flex;
  font-family: 'Poppins';
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.subsection1{
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subsection1 img{
  height: 75px;
  width: 75px;
}

.subsection1 button{
  font-size: 17px;
  width: 160px;
  border: none;
  color: white;
  background-color: orange;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.subsection1 button:hover{
  background-color: rgb(211, 138, 1);
}

.subsection2{
  width: 100%;
  margin: 50px 0 50px 0;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  justify-content: center;
}

.subsection2 h3{
  text-align: center;
}

.flexsubsect2{
  display: flex;
  position: relative;
  left: 30px;
}

.flexsubsect2 div img{
  height: 100px;
  width: 100px;
}

.flexsubsect2 div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.flexsubsect2 div p{
  text-align: center;
}

.subsection3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subsection3 img{
  width: 454px;
}

.subsection3 p{
  text-align: center;
}

.subsection4{
  background-color: #ececec;
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}

.subsection4 h1{
  color: #333;
  font-weight: 100;
  margin: 0 0 50px 0;
}

.subsection4 div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subsection4 div p span{
  font-size: 25px;
  font-weight: bold;
  color: rgb(233, 153, 4);
}
.subsection4 div p{
  color: #333;
  margin: 0 50px 0 50px;
  text-align: center;
}

.subsection5{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 50px 0;
  align-items: center;
  justify-content: center;
}

.suc{
  display: block;
  margin: 20px auto;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.11);
  padding: 20px;
  height: 200px;
  width: 700px;
  border-radius: 15px;
  outline: 1px solid orange;
}

.suc img{
  height: 200px;
  width: 200px;
  border-radius: 16px;
}

.subsection5 button{
  font-size: 17px;
  width: 160px;
  border: none;
  color: white;
  background-color: orange;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.subsection5 button:hover{
  background-color: rgb(211, 138, 1);
}


/*----------About-------------*/

.main-contactussec{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  font-family:'Poppins';
}
.about {
  display: flex;
  margin-top: 170px;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 300px;
  margin-bottom: 50px;
}

.im{
  width: 260px;
  height: 300px;
  
}

.about-content {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}


















/*******contact***********/

.contact {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  font-family:'Poppins';
}
.contactcontainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftconcontainer img{
  width:221px;
  margin-top:20px;
  margin-bottom: 20px;
}

.leftconcontainer form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

.con-text,
.con-email,
.con-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  resize: none;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.separator {
  width: 25px;
  float: left;

}
.sepborder{
  border-right:  1px solid rgba(0, 0, 0, 0.5);
  height: 425px;
  margin-top: 100px;
}

.con-submit {
  padding: 5px;
  background-color: rgb(251, 173, 27);
  width: 100px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Roboto Condensed';
  margin-left: 220px;
  font-size: 15px;
}

.con-submit:hover {
  background-color: rgb(189, 126, 8);
}
.separator {
  border-right: 1px solid #ccc;
  padding: 20px;
}

.rightconcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightconcontainer p{
  text-align: center;
}
.rightconcontainer button{
  height: 40px;
  width: 150px;
  background-color: #72bb12;
  cursor: pointer;
  color: white;
  font-size: 15px;
  border: none;
}
.rightconcontainer button:hover{
  background-color:rgb(77, 127, 12);
}
.rightconcontainer button a{
  text-decoration:none;
  color:white;
}



.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.mentions {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.press-item{
  margin: 0 25px 0 25px;
  padding: 0 25px 0 25px;
  outline: 1px solid rgba(0, 0, 0, 0.288);
}

.press-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.press-item a {
  color: #000;
  text-decoration: none;
}

.press-item h5{
  padding-bottom: 10px;
}







/*--------Footer---------*/


  .footer-separator {
    border: none;
    border-top: 1px solid transparent;
    margin: 30px 0;
  }
  
  
  footer {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width:100%;
    flex-direction: column;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    font-family:'Poppins';
    margin: 0 auto;
  }
  
  .footer-text {
    flex: 0 0 auto;
    text-align: center;
  }
  .footer-text p{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: .02rem;
    word-spacing: 0.06rem;
  }
  
  .footer-text h4{
    position: relative;
    bottom: 20px;
    font-weight: 100;
  }
  
  .footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 50px;
  }
  
  .footer-links {
    flex: 0 0 auto;
  }
  
  .footer-links a {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-links a:hover{
    color: rgb(255, 166, 0);
  }
  
  .footer-disclaimer {
    flex: 0 0 100%;
    margin-top: 20px;
    width: 85%;
  }
  
  .footer-disclaimer p {
    margin: 0;
  }
  
  .footer-disclaimer a {
    color: #1663b3;
    text-decoration: none;
  }
  
  .footer-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:  0 50px 0 50px;
  }
  


/*--------Login Page---------*/

#loginContent{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items:center;
  justify-content:center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.login-container{
  max-width: 400px;
  margin: 0;
  padding: 20px;
  border: 2px auto #ccc;
  border-radius:5px;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  /*top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.2s ease-in-out;*/
}


.login-img{
  width:100%;
} 
.login-container h3{
  font-family:'Roboto Condensed';
  position:relative;
  color:#454545;
}

.form-group{
  margin-bottom: 10px;
  font-family:'Poppins';
}
.form-group label{
  display: block;
  font-weight: bold;
}

.form-password{
  width:100%;
  height:30px;
  border:none;
  padding: 8px;
  outline: 1px solid #c7c7c7;
  border-radius:3px;
  font-weight:100;
}

.form-text{
  width:100%;
  height:30px;
  padding: 8px;
  border:none;
  outline: 1px solid #c7c7c7;
  border-radius:3px;
  font-weight:100;
}
.form-submit{
  width: 100%;
  padding: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:5px;
  height:40px;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: bold;
}
.form-submit:hover{
  background-color: #45a049;
}

.center-form{
  width:25rem;
  display:fixed;
  aspect-ratio:1/1;
  inset:0rem;
  border-radius:5px;
  margin: 0 auto;
  padding: 20px 30px 20px 20px;
  background-color:white;
  outline: 1px solid #bababa;
}

/*--------Register Popup---------*/

#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
  
#popupContent {
  position: relative;
  width: 80%;
  max-width: 400px;
  margin: 10% auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
  
#openPopup {
  margin-top: 20px;
 }

.modal-register {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #999;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.register-form {
  margin-top: 20px;
}

.small-logo-login {
  width: 357px;
  height: auto;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Open Sans';
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group-container {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#submit {
  width: 100%;
  padding: 10px;
  background-color: #dc0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: bold;
  text-shadow: #666;
  cursor: pointer;
}

.grey-link-tos {
  color: #aaa;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.grey-link {
  color: #aaa;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.grey-link-tos:hover,
.grey-link:hover {
  color: #666;
}

  /* Style for the success message */
.modal-register-post {
  text-align: center;
}

.modal-register-post h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-register-post .button {
  padding: 10px 20px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}  


.item-name{
  font-family:'Oswald';
  text-decoration:none;
  color:#606060;
  font-size: 20px;
}

.search__drop {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-weight: 500;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.drop__containers{
  z-index: 15;
  display: flex;
  align-items: center;
  background-color: #FBE8DE;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* float: left;
  overflow: hidden;
  z-index: 1;*/
}

.btn-5{
  border: none;
  color: transparent;
  font-size: 18px;
  font-family: 'Oswald';
  background-color: transparent;
  color: #221f45;
  cursor: pointer;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #221f45;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0 auto;
  /* Important for vertical align on mobile phones */
}

@media (max-width:600px){
  .dropdown {
    font-size: 16px;
  }
}



/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #221f45;
  color: white;
}
.dropdown .dropbtn i{
  color: #221f45;
}
.dropdown:hover .dropbtn i{
  color: white !important;
}
.whatsnew:hover {
  color: #fd6700;
  letter-spacing: .1em;
}

.whatsnew span {
  position: absolute;
  display: block;
  background: #fd7700;
}

.whatsnew span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 1.5px;
  transform: scaleX(0);
  transition: transform .5s;
}

.whatsnew:hover span:nth-child(1) {
  transform: scaleX(1);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #221f45b9;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.openMenu{
  display: none;
}
.mainMenu {
  display: none;
  list-style: none;
}


@media screen and (max-width:1025px) {
  .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: 18px;
    transition: 0.2s ease;
  }
  .mainMenu{
    height: 100vh;
    position: fixed;
    display: flex;
    overflow: hidden;
    top: -20px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #221f45;
    transition: top 1s ease 0s;
  }
  .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .closeMenu i{
    color: white;
    font-size: 20px;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
    color: white;
  }
  .openMenu{
    padding: 18px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: rgb(251 251 251 / 60%);
    /* position: sticky;
    top: 0; */
    display: flex;
    place-items: center;
    border: 2px solid black;
    cursor: pointer;
  }
  .landing__page{
    flex-direction: row;
    justify-content: space-between;
  }
  .main__logo{
    display: block;
  }
  .dropdown:nth-child(5){
    display: none;
  }
  .header__img{
    height: 75px;
    width: 260px;
  }
}
@media screen and (max-width:650px) {
  .header__img{
    height: 60px;
    width: 200px;
  }
  .dropdown .dropbtn{
    font-size: 14px;
  }
  .drop__containers a i{
    font-size: 14px;
  }
  .btn-5{
    font-size: 14px;
  }
}